HTML,
body {
    min-height: 50%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    width: 100%;
    height: 100%;
}

p {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0px;
    padding: 0px;
    min-width: 99%;
    width: 100%;
    min-height: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.frame_container {
    
    background-color: rgb(182, 255, 254);
    padding-left: auto;
    padding-right: auto;


}

iframe {
    margin-left: 0.5%;
    margin-right: 0.5%;
    /* margin: 0px; */
    padding: 0px;
    max-height: 800px;
    min-height: 600px;
    max-width: 99%;
}

header {
    text-align: center;
    background-color: #e3ff95;
}

main {
    flex: 1 1 auto;
}

.text_descriprion {
    padding: 20px 5px;
    background-color: #d4bcff;
}

.subtext {

    padding: 20px 5px;
    background-color: #ffc9f1;
}


footer {
    text-align: center;
    background-color: #ffdaa4;
}


.text {
    font-family: "Trirong", sans-serif;
    font-size: 18px;
    line-height: 23px;

}

.heading {
    font-size: 27px;
    font-family: "Audiowide", sans-serif;
}

h3.sub_header {
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
}